.currPointer {
  cursor: pointer;
}
.backsImg {
  width: 100vw;
  height: 100vh;
  background: url(../../assets/home/back1.png) no-repeat;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}
.colo999 {
  color: #999999;
}
.coloBls {
  color: #2778ff;
}
.borE6E6 {
  border: 1px solid #e6e6e6;
}
.succ {
  color: #39cd7b;
}
.err {
  color: #ff4343;
}
.bor_bottomE6E6 {
  border-bottom: 1px solid #e6e6e6;
}
/* button按钮 */
.wodthButton {
  width: 120px;
}
.widthBigButt {
  width: 180px;
}

.backBlus {
  background-color: #00498d;
  border: none;
}
.backJianBuls {
  background: linear-gradient(90deg, #0084ff, #425cfc);
  border: none;
}
/* --- */
/* input框 */
.elInput {
  width: 420px;
}
.elInput input {
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #02b5ff;
}
/* --- */
.coloFFF {
  color: #ffffff;
}
.coloC6FF {
  color: #c6e3ff;
}
